@{
    ViewData["Title"] = "Register Company";
    Layout = "_Layout";
}

<link rel="stylesheet" type="text/css" href="~/css/accounts.css" />
<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<div class="container my-5">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 rounded shadow">
                <div class="card-body p-4">
                    <h1 class="text-center mb-4">Register as a Company</h1>
                    <form method="post" action="/Account/RegisterCompany">

                        <!-- User Details Section -->
                        <h3 class="text-center mb-3">User Details</h3>
                        <div class="form-group">
                            <input type="email" id="userEmail" name="UserEmail" class="form-control mb-3" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="Password" class="form-control mb-3" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control mb-3" placeholder="Confirm Password" required>
                        </div>

                        <h3 class="text-center mb-3">Personal Details</h3>
                        <div class="form-group">
                            <input type="text" id="fullName" name="fullName" class="form-control mb-3" placeholder="Full Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="description" name="description" class="form-control mb-3" placeholder="Job/Role/Title" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="phoneNumber" name="PhoneNumber" class="form-control mb-4" placeholder="Phone Number" required>
                        </div>

                        <div class="text-center mb-4">
                            <button type="submit" class="btn btn-light btn-lg">Register</button>
                        </div>
                    </form>

                    <div class="text-center my-4">
                        <a href="/Account/Login" class="btn btn-link">I already have an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
