<h2>Admin Dashboard</h2>
    <div class="admin-controls">
        <a class="btn rounded-btn hover-color" href="/Admin/ManageUsers">Manage Users</a>
        <a class="btn rounded-btn hover-color" href="/Admin/ViewReports">View Reports</a>
        <a class="btn rounded-btn hover-color" href="/Admin/SiteSettings">Site Settings</a>
        
    </div>