@* Admin Dashboard *@
<div class="admin-dashboard">
    <h2>Admin Dashboard</h2>
    <p>Manage users, projects, and site settings.</p>
    <div class="admin-controls">
        <a class="btn rounded-btn hover-color" href="/Admin/ManageUsers">Manage Users</a>
        <a class="btn rounded-btn hover-color" href="/Admin/ViewReports">View Reports</a>
        <a class="btn rounded-btn hover-color" href="/Admin/SiteSettings">Site Settings</a>
        
    </div>
</div>
