    <!-- Row of Buttons -->
<div class="row mt-3">
    <div class="company-controls d-flex justify-content-between">
        <a class="btn" href="@Url.Action("Create", "Company")">Provide Organization Details</a>
        <a class="btn" href="@Url.Action("Create", "Project")">Submit New Project</a>
        <a class="btn" href="@Url.Action("Create", "Funding", new { area = "Company" })">Request Project Funding</a>
    </div>
</div>
