<h2>Company Activities</h2>
    <div class="company-controls">
        <a class="btn" href="@Url.Action("Create", "Company")">Provide Organization Details</a>
        <a class="btn" href="@Url.Action("Create", "Project")">Submit New Project</a>
        <a class="btn" href="@Url.Action("Create", "Funding", new { area = "Company" })">Request Project Funding</a>
    </div>
