@{
    ViewData["Title"] = "Landing Page";
}

@{
    Layout = "_Layout";
}

<div class="tertiary-hero">
</div>

<div class="hero">
    <h1>Welcome to Our Website!</h1>
    <p>Connect. Empower. Change. Become a Changemaker.</p>
</div>

<div class="secondary-hero">
    <h2>Learn More About Our Projects</h2>
    <p>Discover how you can participate and make a difference!</p>
    <a href="/Login" class="btn">Login</a>
    <a href="/About" class="btn">About Us</a>
</div>

<div class="tertiary-hero">
</div>
