@model BumbleBeeWebApp.Models.Testimonial

<link rel="stylesheet" type="text/css" href="~/css/landing.css" />

<section id="testimonials" class="my-5 text-center py-4">
    <h2>Our Testimonial</h2>
    @if (Model != null)
    {
        <div class="testimonial border rounded p-3 mb-3">
            <h5>@Model.Email</h5>
            <p>@Model.Content</p>
            <small>Submitted at: @Model.SubmittedAt.ToString("dd MMM yyyy, hh:mm tt")</small>
        </div>
    }
    else
    {
        <p>No testimonial found.</p>
    }

    <form asp-action="TestimonailCreatePage" asp-controller="Landing" method="post">
        <button type="submit" class="btn btn-light btn-lg">Add Testimonial</button>
    </form>
</section>
