@model List<BumbleBeeWebApp.Models.Testimonial>

<link rel="stylesheet" type="text/css" href="~/css/landing.css" />

<section id="testimonials" class="my-5 text-center py-4">
    <h2>Our Testimonials</h2>
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var testimonial in Model)
        {
            <div class="testimonial border rounded p-3 mb-3">
                <h5>@testimonial.Email</h5>
                <p>@testimonial.Content</p>
                <small>Submitted at: @testimonial.SubmittedAt.ToString("dd MMM yyyy, hh:mm tt")</small>
            </div>
        }
    }
    else
    {
        <p>No testimonials found.</p>
    }

    <form asp-action="TestimonailCreatePage" asp-controller="Landing" method="post">
        <button type="submit" class="btn btn-light btn-lg">Add Testimonial</button>
    </form>
</section>
