.card {
    border-radius: 10px; 
}

.btn-light {
    border-radius: 15px;
    background-color: #f8f9fa; 
    color: #333; 
}

.card-body {
    padding: 20px; 
}

h1 {
    font-size: 2.5rem;
}

h2, h4 {
    font-size: 1.5rem; 
}

p {
    font-size: 1.125rem; 
}
