:root {
    --color-very-light-green: #F1F7EE;
    --color-light-green: #B0BEA9;
    --color-medium-green: #92AA83;
    --color-pastel-green: #E0EDC5;
    --color-light-yellow: #E7F59E;
    --primary: var(--color-medium-green);
    --secondary: var(--color-pastel-green);
    --background: var(--color-very-light-green);
    --text: #000000; /* Using color-light-green for text */
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    background-color: var(--background); /* Kept background color */
    color: var(--text); /* Set body text to black */
}

.card {
    border-radius: 10px;
    background-color: var(--secondary); /* Replaced with color from root */
}

.btn-light {
    border-radius: 10px;
    color: white !important;
    border-color: var(--accent);
    background-color: var(--primary);
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .btn-light:hover {
        background-color: var(--primary);
        color: black !important;
        border-color: var(--accent);
    }

.card-body {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary); /* Replaced with background color */
}

h1 {
    font-size: 2.5rem;
    color: var(--text); /* Replaced with primary color */
}

h2, h4 {
    font-size: 1.5rem;
    color: var(--text); /* Replaced with primary color */
}

p {
    font-size: 1.125rem;
    color: var(--text); /* Set paragraph text to the text color */
}
