:root {
    --color-very-light-green: #F1F7EE;
    --color-light-green: #B0BEA9;
    --color-medium-green: #92AA83;
    --color-pastel-green: #E0EDC5;
    --color-light-yellow: #E7F59E;

    --primary: var(--color-medium-green);
    --accent: var(--color-light-yellow);
    --background: var(--color-very-light-green);
    --text: #000000;
}

body {
    background-color: var(--background); 
}

.dashboard-header {
    background-color: var(--color-pastel-green); 
    color: var(--text); 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.dashboard-main {
    padding-top: 20px;
}



.dashboard-overview, .recent-activities, .user-profile {
    background-color: var(--color-pastel-green); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .dashboard-overview h2, .recent-activities h2, .user-profile h2 {
        color: var(--text); 
    }

    .dashboard-overview h6, .recent-activities h6, .user-profile h6 {
        color: var(--text);
        font-weight: bold;
    }
    .dashboard-overview ul, .recent-activities ul, .user-profile ul {
        list-style-type: none;
        padding: 0;
    }

        .dashboard-overview li strong, .recent-activities li strong, .user-profile li strong {
            font-weight: bold;
        }

    .user-profile .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

.dashboard-footer {
    text-align: center;
    padding: 20px;
    background-color: var(--color-light-green);
    color: var(--text);
}

.btn {
    background-color: var(--color-very-light-green); 
    border-color: var(--color-light-green); 
    color: var(--text);
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn:hover {
        background-color: var(--color-light-yellow); 
        border-color: var(--color-medium-green); 
    }

.h3 {
    margin: 10px;
}

.h6 {
    margin: 10px;
}

.projects-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
    padding: 10px;
    gap: 20px;
    background-color: var(--color-very-light-green);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

    .projects-container::-webkit-scrollbar {
        height: 10px; 
    }

    .projects-container::-webkit-scrollbar-thumb {
        background: var(--color-light-green); 
        border-radius: 10px;
    }

.company-card {
    min-width: 300px; 
    flex: 0 0 auto;
    background-color: var(--color-pastel-green);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.project-details-grid {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px; 
}

.project-details {
    background-color: var(--color-pastel-green);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.company-details {
    background-color: var(--color-light-green);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.projects-list {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px; 
}

.project-card2 {
    min-width: 200px;
    background-color: var(--color-light-yellow);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

    .project-card h5 {
        margin: 0;
        font-size: 1.2em;
    }

    .project-card p2 {
        margin: 5px 0;
    }

.project-card {
    min-width: 100%;
    background-color: var(--color-light-yellow);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

    .project-card h4 {
        margin: 0;
        font-size: 1.2em;
    }

    .project-card p {
        margin: 5px 0;
    }
