.dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
}

.dashboard-header {
    background-color: #111810;
    color: white;
    padding: 20px;
    text-align: center;
}

.dashboard-header nav ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-header nav ul li {
    display: inline;
    margin: 0 15px;
}

.dashboard-header nav ul li a {
    color: white;
    text-decoration: none;
}

.main-dashboard {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.quick-links .link-buttons a {
    margin: 5px;
    display: inline-block;
}

.btn {
    background-color: #ffce1b;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #2b231d;
}

.dashboard-footer {
    text-align: center;
    padding: 20px;
    background-color: #111810;
    color: white;
}
