:root {
    --color-very-light-green: #F1F7EE;
    --color-light-green: #B0BEA9;
    --color-medium-green: #92AA83;
    --color-pastel-green: #E0EDC5;
    --color-light-yellow: #E7F59E;
    --primary: var(--color-medium-green);
    --accent: var(--color-light-yellow);
    --background: var(--color-very-light-green);
    --text: #000000; /* Set all text to black */
}

body {
    background-color: var(--background); /* Use the very light green from root */
}

.dashboard-header {
    background-color: var(--color-pastel-green); /* Light green for header background */
    color: var(--text); /* Black text */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.dashboard-main {
    padding-top: 20px;
}



.dashboard-overview, .recent-activities, .user-profile {
    background-color: var(--color-pastel-green); /* Pastel green for section backgrounds */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .dashboard-overview h2, .recent-activities h2, .user-profile h2 {
        color: var(--text); 
    }

    .dashboard-overview h6, .recent-activities h6, .user-profile h6 {
        color: var(--text);
        font-weight: bold;
    }
    .dashboard-overview ul, .recent-activities ul, .user-profile ul {
        list-style-type: none;
        padding: 0;
    }

        .dashboard-overview li strong, .recent-activities li strong, .user-profile li strong {
            font-weight: bold;
        }

    .user-profile .profile-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

.dashboard-footer {
    text-align: center;
    padding: 20px;
    background-color: var(--color-light-green); /* Light green for footer */
    color: var(--text);
}

.btn {
    background-color: var(--color-very-light-green); /* Very light green for buttons */
    border-color: var(--color-light-green); /* Light green border */
    color: var(--text);
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .btn:hover {
        background-color: var(--color-light-yellow); /* Light yellow on hover */
        border-color: var(--color-medium-green); /* Use medium green for border on hover */
    }
